# Entornos virtuales
venv/
env/

# Caché de Python y Tests
__pycache__/
*.pyc
.pytest_cache/

# Bases de datos locales e imágenes subidas
*.db
*.sqlite3
data/images/
.env

# Agent directories & skills
.agent/*
!.agent/skills/
.gemini/
*.db-wal
data/*.db*
*.key